@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

:root {
    --progress-percent: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cc {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 4px;
}

.score-container {
    background-color: rgb(48, 209, 88);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 90vw;
}

.score-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 6em;
}


.score-container span {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #fff;
}

.score-container-2 h1 {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 5em;
    color: #fff;
}

.progress-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
}

.levels {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90vw;
}

.levels span {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #222;
}

.progress {
    /* background: rgba(255,255,255,0.1); */
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    /* padding: 0 5px; */
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 90vw;
}
  
.progress-value {
animation: load 3s normal forwards;
/* box-shadow: 0 10px 40px -10px #000; */
border-radius: 100px;
background: linear-gradient(to right, #ff4530, #ff9500, #ffcc00 60%, #30d158 85%);
height: 20px;
width: 100%;
}

@keyframes load {
0% { width: 0; }
100% { width: var(--progress-percent); }
}

.greetings {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.message {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#results-greeting {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #222;
}

#results-message {
    font-family: Source Sans Pro, sans-serif;
    width: 90vw;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    color: #222111;
}

.goto-tips {
    margin-top: 24px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#practice {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    color: #111;
    text-align: center;
}

.button-1 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    height: 56px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 80px;
    will-change: transform;
    -webkit-tap-highlight-color: transparent;
  }
  
  .button-1:disabled {
    pointer-events: none;
  }
  
  .button-1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-1:active {
    box-shadow: none;
    transform: translateY(0);
  }

.tips-btn-container {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#practice {
    width: 90vw;
}

.about-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.about-container a {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}

  
.wrapper {
    width: 100%;
}


@media all and (min-width: 1200px) {

    .score-container {
        width: 60vw;
    }

    .progress {
        width: 60vw;
    }

    .levels {
        width: 60vw;
    }

    #practice {
        width: 60vw;
    }
}